*.o
*.elf
*.map
*.d
*.log
*.inx
*.bak*
**/nbproject/private
**/nbproject/Makefile-*
**/nbproject/Package-*
**/nbproject/project.properties
**/*.X/debug
**/*.X/dist
**/*.X/build
**/*.X/.generated_files
**/*.code-workspace
