*.o
*.elf
*.map
*.d
*.log
*.inx
*.bak*
*.code-workspace
**/queuelogs
**/debug
**/release
**/dist
**/build
**/.generated_files
**/nbproject/private
**/nbproject/Makefile-*
**/nbproject/Package-*
**/nbproject/project.properties
